<% content_for :head do %>
  <%= stylesheet_link_tag "brainfreeze" %>
<% end %>

<!-- MAIN SECTION -->

<div class="container-fluid pr-md-5 pt-md-1 mt-md-1 pt-5 mt-4">
  <div class="row">
    <div class="col col-12 text-center">
      <img
        src="/assets/Brain Freeze profile.png"
        class="brain-badge img-fluid"
        alt="Brain Freeze Badge"
        />
    </div>
  </div>

  <!--Three Rows -->

  <div class="row px-3 px-md-0">
    <div class="col col-md-12 col-12 text-md-center text-left">
      <h1 class="now mt-3 mb-4 pt-0">
        <b>BRAIN FREEZE <span style="font-size: larger">2021</span></b>
      </h1>
      <h3>
        Annual winter fundraiser to promote brain health and mental health
        through active living.
        <br class="mobile-gone"/>Brain Freeze benefits local groups to
        support neurological disorders and/or mental health in our
        community.
      </h3>
    </div>
  </div>
</div>
<hr/>

<!-- Main Content Three Rows Section -->
<p style="text-align: center;">Together we raised $4,657 for Minwaashin Lodge. Thank you everyone!</p>
<div
  class="container-fluid middle-div text-center" style="padding: 1% 10%; padding-left: 15%">
  <div class="row px-4">
    <div class="col col-md-2 text-right pt-5 p-0 mobile-gone">
      <div class="row text-right mt-3">
        <div class="col-12 ml-5 mb-4">
          <div class="row">
            <p
              style="border: solid 1px; font-size: 2em"
              class="p-2 ml-4 text-large blue"
            >
              1,965,374
            </p>
          </div>

          <div class="row">
            <p>out of 1,000,000 steps !</p>
          </div>
        </div>

        <div class="col col-12 text-right">
          <div class="foot-div" style="background-color: #2879c9"></div>
          <img
            src="/assets/Step counter.png"
            class="foot-pic img-fluid"
            alt="Progress foot bar"
            />
        </div>
      </div>
    </div>

    <div class="col col-12 col-md-7 px-0">
      <div class="row my-5 mobile-gone">
        <div class="col-12 px-0 text-center">
          <h3 class="brain">
            <b>Please make your donation
              <a
                href="https://www.canadahelps.org/en/pages/brain-freeze-2021-1000000-steps-virtual-edition/"
                target="_blank"
              >HERE</a>.</b>
          </h3>
          <h3>
            Let’s move together to reach 1,000,000 steps! You can use a
            fitness tracker to count steps. Or use this
            <a
              href="https://earlham.edu/media/3049229/activityconversionchart.pdf"
              target="_blank"
            >activity chart</a
            >
            to convert your steps. Multiple entries allowed and encouraged!
          </h3>

          <h3 class="brain">
            <b
            >Log your activities and steps
              <a
                href="#modal"
                data-toggle="modal"
                data-target="#exampleModal"
              >HERE.</a
              ></b
            >
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="px-md-5 brain pb-0 mb-0">
            Who are we supporting this year?
          </h3>
          <h3>
            Your donation will benefit
            <a href="https://www.minlodge.com/" target="_blank"
            >Minwaashin Lodge</a
            >, a charity organization in Ottawa that provides support and
            services to Indigenous women and children who are survivors of
            violence.
          </h3>
        </div>
      </div>

      <div
        style="display: inline-block"
        class="row desktop-gone text-center my-4 ml-3"
      >
        <p
          style="border: solid 1px; font-size: 2em"
          class="desktop-gone p-2 ml-3 text-large blue"
        >
          1,965,374
        </p>
      </div>

      <div class="row desktop-gone text-center mb-5 ml-5">
        <p>out of 1,000,000 steps !</p>
      </div>

      <div style="display: inline-block" class="row my-5 desktop-gone">
        <div class="col col-12 text-center">
          <div class="foot-div" style="background-color: #2879c9"></div>
          <img
            src="/assets/Step counter.png"
            class="foot-pic desktop-gone img-fluid"
            alt="Progress foot bar"
            />
        </div>
      </div>

      <div class="row desktop-gone mt-5 ml-5">
        <div class="col col-12 text-center">
          <div class="row sub-box">
            <div class="col col-12">
              <div class="card text-center pt-3 px-4">
                <p>
                  <b>Cassie Gaumont</b> from <b>Gatineau </b><br/>
                  moved <b class="blue">8,743</b> steps <br/>
                  by <b>Walk</b>
                </p>

                <p>
                  <b>Maura</b> from <b>London, UK</b><br/>
                  moved <b class="blue">10,554</b> steps <br/>
                  by <b>Walking </b>
                </p>

                <p>
                  <b>Karen</b> from <b>Victoria, BC</b><br/>
                  moved <b class="blue">22,650</b> steps <br/>
                  by <b>Running and Walking </b>
                </p>

                <p>
                  <b>Susan </b> from <b>Victoria, BC </b><br/>
                  moved <b class="blue">23,000</b> steps <br/>
                  by <b>Running and Walking </b>
                </p>

                <p>
                  <b>Rick Payant</b> from <b>Ottawa</b><br/>
                  moved <b class="blue">14,824</b> steps <br/>
                  by <b>Walk</b>
                </p>

                <p>
                  <b>Martha B</b> from <b>Markham</b><br/>
                  moved <b class="blue">9,135</b> steps <br/>
                  by <b>Walk</b>
                </p>

                <p>
                  <b>Yostina </b> from <b>Ottawa </b><br/>
                  moved <b class="blue">10,387</b> steps <br/>
                  by <b>Walk</b>
                </p>

                <p>
                  <b>Marina B</b> from <b>Markham</b><br/>
                  moved <b class="blue">9,070</b> steps <br/>
                  by <b>Walk</b>
                </p>

                <p>
                  <b>Sophie </b> from <b>Ottawa</b><br/>
                  moved <b class="blue">17,285</b> steps <br/>
                  by <b>Walk </b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3>
            Please make your donation
            <a
              href="https://www.canadahelps.org/en/pages/brain-freeze-2021-1000000-steps-virtual-edition/"
              target="_blank"
            >HERE</a
            >.
            <br/>
            Any amount is appreciated. Tax receipts available immediately
            for donations over $3.
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3>Thank you for supporting Minwaashin Lodge!</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="px-md-5 brain pb-0 mb-0">
            What are we doing together?
          </h3>
          <h3>
            Here at Brain Freeze, we believe exercise improves physical and
            mental health. <br/>This year, we will move together to reach 1
            million steps! (although we are apart!) <br/>
            May the steps you take be symbolic of the steps that the
            Indigenous community at Minwaashin Lodge are taking to recover
            from violence.
          </h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="px-md-5 brain pb-0 mb-0">When?</h3>
          <h3>March 13 and/or March 14</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="px-md-5 brain pb-0 mb-0">We have draw prizes!</h3>
          <h3>
            You may choose to enter a raffle draw for one of 15 awesome
            prize packs!<br/>
            Winners will be announced on
            <a
              href="https://www.instagram.com/thecheelab/?hl=en"
              target="_blank"
            >Instagram</a
            >
            and
            <a href="https://twitter.com/BrainFreeze2021" target="_blank"
            >Twitter</a
            >
            at 5pm on March 14.
          </h3>
        </div>
      </div>

      <hr class="mt-5"/>

      <div class="row">
        <div class="col col-12">
          <img
            src="/assets/Brain Freeze sponsors V2.png"
            class="sponsors"
            alt=""
            />
        </div>
      </div>
    </div>

    <div class="col col-md-3 col-12 twitter text-right">
      <div class="row mb-0 ml-2">
        <p
          style="font-size: 1.5em; font-weight: lighter"
          class="pl-5 ml-5 mb-1 mobile-gone"
        >
          Activity Log
        </p>
      </div>

      <div class="row sub-box mobile-gone mt-0">
        <div class="col col-12 mt-0">
          <div class="card text-center pt-3 mt-0 px-4">
            <p>
              <b>Cassie Gaumont</b> from <b>Gatineau </b><br/>
              moved <b class="blue">8,743</b> steps <br/>
              by <b>Walk</b>
            </p>

            <p>
              <b>Maura</b> from <b>London, UK</b><br/>
              moved <b class="blue">10,554</b> steps <br/>
              by <b>Walking </b>
            </p>

            <p>
              <b>Karen</b> from <b>Victoria, BC</b><br/>
              moved <b class="blue">22,650</b> steps <br/>
              by <b>Running and Walking </b>
            </p>

            <p>
              <b>Susan </b> from <b>Victoria, BC </b><br/>
              moved <b class="blue">23,000</b> steps <br/>
              by <b>Running and Walking </b>
            </p>

            <p>
              <b>Rick Payant</b> from <b>Ottawa</b><br/>
              moved <b class="blue">14,824</b> steps <br/>
              by <b>Walk</b>
            </p>

            <p>
              <b>Martha B</b> from <b>Markham</b><br/>
              moved <b class="blue">9,135</b> steps <br/>
              by <b>Walk</b>
            </p>

            <p>
              <b>Yostina </b> from <b>Ottawa </b><br/>
              moved <b class="blue">10,387</b> steps <br/>
              by <b>Walk</b>
            </p>

            <p>
              <b>Marina B</b> from <b>Markham</b><br/>
              moved <b class="blue">9,070</b> steps <br/>
              by <b>Walk</b>
            </p>

            <p>
              <b>Sophie </b> from <b>Ottawa</b><br/>
              moved <b class="blue">17,285</b> steps <br/>
              by <b>Walk </b>
            </p>
          </div>
        </div>
      </div>

      <div class="row twitter-box mt-5">
        <a
          class="twitter-timeline"
          href="https://twitter.com/BrainFreeze2021?ref_src=twsrc%5Etfw"
        >Tweets by BrainFreeze2021</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
</div>

<div class="row fixed-bottom desktop-gone">
  <div class="col col-12">
    <a
      href="https://www.canadahelps.org/en/pages/brain-freeze-2021-1000000-steps-virtual-edition/"
      class="btn btn-lg btn-block p-3 btn-primary"
    >Make a Donation</a
    >
  </div>

  <div class="col col-12">
    <a
      href="#modal"
      data-toggle="modal"
      data-target="#exampleModal"
      class="btn btn-lg btn-block p-3 btn-secondary"
    >Log your steps!</a
    >
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Steps Submission</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-4">
        Submissions are now closed
        <br/><br/>
        <a href="#" data-dismiss="modal" class="btn btn-primary"
        >Return to main page</a
        >
      </div>
    </div>
  </div>
</div>

