<% content_for :head do %>
  <%= stylesheet_link_tag "brainfreeze_index" %>
<% end %>



<!-- Header Section -->
    <div class="container-fluid pr-md-5 pt-md-1 mt-md-1 pt-5 mt-4">
      <div class="row">
        <div class="col col-12 text-center">
          <img
            src="../assets/brainfreeze-logo-2024.jpg"
            class="brain-badge img-fluid"
            alt="Brain Freeze Badge"
          />
        </div>
      </div>

  <div class="row px-3 px-md-0">
    <div class="col col-md-12 col-12 text-md-center text-left">
      <h1 class="now mt-3 mb-4 pt-0">
      </h1>
      <h3>
        Annual winter fundraiser to promote brain health and mental health
        through active living.
        <br class="mobile-gone"/>Brain Freeze benefits local groups to
        support neurological disorders and/or mental health in our
        community.
      </h3>
    </div>
  </div>
</div>
<hr/>
<!-- Main Content Three Rows Section -->
    <br><br>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">Date:</h1>
    <p class="sub-heading" style="font-size: 20px"> Sunday, March 24<sup>th</sup> 2024</p><br>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">Time:</h1>
    <p class="sub-heading" style="font-size: 24px"> 10:00am</p><br>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">Location:</h1>
    <p class="sub-heading" style="font-size: 24px"> Health Sciences Building<br>Carleton University
</p><br>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">What do I do?</h1>
    <p class="sub-heading" style="font-size: 24px">
            Register
            <a style="color: red; font-weight: bold;" href="https://forms.gle/cXAJG9tgkv3ua7jKA">Here</a><br>
            <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">
    Please
    <a style="color: red; font-weight: bold;" href="https://www.canadahelps.org/en/pages/brain-freeze-2024/" target="_blank"
    >DONATE HERE</a
    >.<br>
    <br>
    <img src="../assets/Brain-Freeze-Instagram-Post-2.png" width=590 height=590/>
    </h1><br></p>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">Who we are supporting</h1>
    <p class="sub-heading" style="font-weight: normal; font-size: 14.5px;">Your donation will support <a style="color: red; font-weight: bold;" href="https://cornerstonewomen.ca/">Cornerstone Housing for Women</a>,<br> A local Ottawa charity that provides resources including supportive housing to homeless women. Cornerstone offers an emergency shelter as well as four supportive housing locations. <br>The money from this fundraiser will go towards their emergency shelter that serves 61 people each night. Women and gender-diverse adults who need to access care at Cornerstone are provided<br> with a bed, shower facilities, hygiene supplies, clothing, three meals per day, and access to a range of mental health and harm reduction services. In particular, their case management services offer the chance<br> for shelter clients to meet one-on-one with a worker to assess what supports they need to find long-term success in housing. These case managers provide an invaluable service to clients by ensuring<br> that anyone who goes to the shelter has the tools they need to move into housing with appropriate supports so they can stay housed and not re-enter the homeless shelter system.<br> These consitute life-saving services and supports to find long-term success in housing.<br>
            <br />
            Any amount is appreciated. Tax receipts immediately available
            for donations over $3.
            <br />
            <br />
            Thank you for supporting Cornerstone housing for women<br><br>
            
    </p><br><br>
    <h1 style="font-family: Roboto, sans-serif; font-size: 24px; font-weight: bold;">THANK YOU</h1>
    <br>
    
    </div>
    <!--Sponsers Section-->
    <div class="container-fluid">
      <hr class="mt-5" />

      <div class="row">
        <div class="col-12 justify-content-center text-center">
          <div style="font-family: 'Roboto', sans-serif; font-weight: bold">Thank you to our sponsors</div>
          <img
            src="../assets/brainfreeze2023sponsors.png"
            class="sponsors"
            alt=""
            width="800px"
            
          />
        </div>
      </div>
    </div>
    <!--Past Brain Freeze Posters-->
<div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2 class="h3-partners">PAST BRAIN FREEZE</h2>
        </div>
      </div>
      <div class="row justify-content-center justify-content-center text-center">
          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a href="/brainfreeze/2023">
                <img
                  class="poster banana"
                  src="../assets/brainfreeze2023.png" 
                  target="_blank"
                  style="width: 150px; height: 227px"
                />
              </a>
              <figcaption>2023</figcaption>
            </figure>
          </div>
<div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a href="/brainfreeze/2022">
                <img
                  class="poster banana"
                  src="../assets/brainfreeze2022.png" 
                  target="_blank"
                  style="width: 150px; height: 227px"
                />
              </a>
              <figcaption>2022</figcaption>
            </figure>
          </div>


      <div class="row justify-content-center justify-content-center text-center">
          
          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a href="/brainfreeze/2021">
                <img
                  class="poster banana"
                  src="../assets/brainfreeze2021.png"
                  target="_blank"
                />
              </a>
              <figcaption>2021</figcaption>
            </figure>
          </div>

          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a
                href="https://twitter.com/thecheelab/status/1234190963440005121"
                target="_blank"
              >
                <img class="poster banana" src="../assets/brainfreeze2020.png" />
              </a>
              <figcaption>2020</figcaption>
            </figure>
          </div>

          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a
                href="https://science.carleton.ca/2019/chee-labs-brain-freeze-5k-and-relay-a-huge-success/"
                target="_blank"
              >
                <img class="poster banana" src="../assets/brainfreeze2019.png" />
              </a>
              <figcaption>2019</figcaption>
            </figure>
          </div>
      </div>
    </div>

<%# <div style="display:flex">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/31 dollars.png" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect + Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/62 dollars.png" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect + Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</div>
<br>
<div style="display:flex">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/84 dollars.png" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect + Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="../assets/175 dollars.png" alt="Avatar" style="width:200px;height:200px;">
      </div>
      <div class="flip-card-back">
        
      </div>
    </div>
  </div>
</div> %>