 <% content_for :head do %>
  <%= stylesheet_link_tag "research" %>
<% end %>
<div class="ppl">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>
<!--Cards Starts-->
<div class="card-holder">
  <div class="card-tres-invisible card-default" id="green-modal">
    <img src="../../assets/redesign-images/HEDONIC-CARD.png" class="card-image" style="opacity:0;" />
  </div>
  <div class="card-dos-invisible card-default" id="yellow-modal">
    <img src="../../assets/redesign-images/Nutrition-card.png" class="card-image" style="opacity:0;"/>
  </div>
  <div class="card-default card-uno" id="grey-modal">
    <img src="../../assets/redesign-images/homeostatic-card.png" class="card-image" />
  </div>
  <div class="card-default card-dos" id="yellow-modal-mobile">
    <img src="../../assets/redesign-images/Nutrition-card.png" class="card-image" />
  </div>
  <div class="card-default card-tres" id="green-modal-mobile">
    <img src="../../assets/redesign-images/HEDONIC-CARD.png" class="card-image" />
  </div>
</div>
<!--Cards Ends-->
<!--Modal Grey Starts-->
<div class="modal-grey">
  <div class="brain-map-image-wrap">
    <img src="../../assets/redesign-images/brain-map.png" class="brain-map-image" />
  </div>
  <div class="homeostasis-mobile">
    <div class="brain-map-image-wrap-mobile">
      <img src="../../assets/redesign-images/brain-map-no-text.png" class="brain-map-image-mobile" />
    </div>
    <div class="homeostasis-text"><br/>
      <div class="homeostatic-heading">HOMEOSTATIC</div>
      <br/>
      In order to understand how the brain coordinates feeding behavior, it is necessary
      to identify the key players and brain regions involved. The key players acting
      in the brain to regulate hunger may be neuropeptides or hormones made within the
      brain, or they may be made in the peripheral organs (e.g. pancreas, gut, liver, etc).
      We are particularly interested in the roles of melanin-concentrating hormone (MCH),
      which is made exclusively with the brain; ghrelin, a gut peptide; and fibroblast
      growth factor 21 (FGF21), which is primarily released by the liver, pancreas, and fat cells.
    </div>
  </div>
  <div class="close-1"><i id="x" class="fas fa-times"></i></div>
</div>
<!--Modal Grey Ends-->
<!--Modal Yellow Starts-->
<div class="modal-yellow">
  <div class="nutrition">
    <div class="dessert-image-wrap">
      <img src="../../assets/redesign-images/dessert.png" class="dessert-image"/>
    </div>
    <div class="nutrition-text">
      <div class="nutrition-heading">NUTRITION</div>
      <br/>
      <em>We are what we eat.</em> More than just feeding our bodies, nutrients like fats, sugars, and protein,
      have also have a significant impact on brain neurochemistry. We are particularly
      interested in the role of fructose on the neurobiology of obesity. Fructose
      is a simple sugar that tastes sweeter than glucose and bonds with glucose
      to make table sugar. We consume fructose in excess by consuming soda and juices,
      packaged goods, baked goods, and even dairy products that contain added sugars.
      It has been linked to the development of obesity and Type II diabetes thus research
      in our lab will test if fructose-rich diets promote neuroplasticity leading to
      diet-induced obesity. We compare the healthy and unhealthy brain to learn and
      prevent diet-mediated maladaptations that tip the body weight scale.
    </div>
  </div>
  <div class="nutrition-mobile">
    <div class="dessert-image-wrap-mobile">
      <img src="../../assets/redesign-images/dessert.png" class="dessert-image-mobile" />
    </div>
    <div class="nutrition-text-mobile">
      <div class="nutrition-heading-mobile">NUTRITION</div>
      <br/>
      <em>We are what we eat.</em> More than just feeding our bodies, nutrients like fats, sugars, and protein,
      have also have a significant impact on brain neurochemistry. We are particularly
      interested in the role of fructose on the neurobiology of obesity. Fructose
      is a simple sugar that tastes sweeter than glucose and bonds with glucose
      to make table sugar. We consume fructose in excess by consuming soda and juices,
      packaged goods, baked goods, and even dairy products that contain added sugars.
      It has been linked to the development of obesity and Type II diabetes thus research
      in our lab will test if fructose-rich diets promote neuroplasticity leading to
      diet-induced obesity. We compare the healthy and unhealthy brain to learn and
      prevent diet-mediated maladaptations that tip the body weight scale.
    </div>
  </div>
  <div class="close-2"><i id="x" class="fas fa-times"></i></div>
</div>
<!--Modal Yellow Ends-->
<!--Modal Green Starts-->
<div class="modal-green">
  <div class="green-modal-contents">
    <div class="hedonic-content">
      <iframe src="../../assets/brain-animation.html" scrolling="no" frameborder="0" class="brain-animation"></iframe>
      <div class="hedonic-text">
        <div class="hedonic-space">
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </div>
        <span class="hedonic-heading">HEDONIC</span>
        <br/>
        <br/>
        Invariably, there are many factors determining when, what, and how much we eat. Our lab is investigating these underlined factors
        by first considering the neural circuit - the functional connections and pathways between brain regions - that control appetite and satiety.
        <br/>
        <br/>
        The hypothalamus, located at the base of the brain, is a vital brain region for the control of body weight and food intake.
        We are evaluating hypothalamic connectivity with the forebrain, midbrain, and hindbrain
        to determine how brain communication signals appetite and satiety. Furthermore, we are also evaluating which chemical messengers
        enable this communication.
        To do this, we are studying the interactions between endogenous hormones and neurotransmitters by applying <em>ex vivo</em> electrophysiology
        and optogenetics to behavioral or transgenic mouse models.
      </div>
    </div>
  </div>
  <div class="close-3"><i id="x" class="fas fa-times"></i></div>
</div>
<!--Modal Green Ends-->
<!--Partners start-->
<div class="container mb-0 pb-0 partners-container">
  <%# <hr class="hr-partners"> %>
  <h3 class="h3-partners">
    PARTNERS  &  AFFILIATIONS
  </h3>
  <div class="row d-flex justify-content-center">
    <img src="../../assets/redesign-images/sponsors-1.png" style="width: 600px">
  </div>
  <div class="row d-flex justify-content-center"></div>
  <br>
  <br>
  <br>
  <br>
</div>
<br>
<!-- Partners end-->
</div>
<script>
  /* Set the width of the side navigation to 250px */
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
  }
  /* Set the width of the side navigation to 0 */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
  }
</script>
<script>
  // Grey Modal Starts
  document.getElementById("grey-modal").addEventListener("click", function () {
    document.querySelector(".modal-grey").style.display = "flex";
  });
  document.querySelector(".close-1").addEventListener("click", function () {
    document.querySelector(".modal-grey").style.display = "none";
  });
  //Grey Modal Ends

  //Yellow Modal Starts
  document.getElementById("yellow-modal").addEventListener("click", function () {
    document.querySelector(".modal-yellow").style.display = "flex";
  });
  document.querySelector(".close-2").addEventListener("click", function () {
    document.querySelector(".modal-yellow").style.display = "none";
  });
  //Yellow Modal Ends

  //Yellow Modal Mobile Starts
  document.getElementById("yellow-modal-mobile").addEventListener("click", function () {
    document.querySelector(".modal-yellow").style.display = "flex";
  });
  document.querySelector(".close-2").addEventListener("click", function () {
    document.querySelector(".modal-yellow").style.display = "none";
  });
  //Yellow Modal Ends

  //Green Modal Starts
  document.getElementById("green-modal").addEventListener("click", function () {
    document.querySelector(".modal-green").style.display = "flex";
  });
  document.querySelector(".close-3").addEventListener("click", function () {
    document.querySelector(".modal-green").style.display = "none";
  });
  //Green Modal Ends

  //Green Modal Mobile Starts
  document.getElementById("green-modal-mobile").addEventListener("click", function () {
    document.querySelector(".modal-green").style.display = "flex";
  });
  document.querySelector(".close-3").addEventListener("click", function () {
    document.querySelector(".modal-green").style.display = "none";
  });
  //Green Modal Ends
</script>
