<% content_for :head do %>
  <%= stylesheet_link_tag "brainfreeze_index" %>
<% end %>

    <!-- Header Section -->
    <div class="container-fluid pr-md-5 pt-md-1 mt-md-1 pt-5 mt-4">
      <div class="row">
        <div class="col col-12 text-center">
        </div>
      </div>

  <div class="row px-3 px-md-0">
    <div class="col col-md-12 col-12 text-md-center text-left">
      <h1 class="now mt-3 mb-4 pt-0">
        <b>BRAIN FREEZE <span style="font-size: larger"></span></b>
      </h1>
      <h3>
        Annual winter fundraiser to promote brain health and mental health
        through active living.
        <br class="mobile-gone"/>Brain Freeze benefits local groups to
        support neurological disorders and/or mental health in our
        community.
      </h3>
    </div>
  </div>
</div>
<hr/>

<!-- Main Content Three Rows Section -->
    <p style="text-align: center;"> Save the date!<br>Next Brain Freeze will be on:</p>
    <p style="font-size: 24px; text-align: center;">March 19<sup>th</sup>, 2023</p>
    <p style="text-align: center;"> More details coming soon</p>
    <div class="container-fluid middle-div text-center">
    </div>

<!--Sponsers Section-->
    <div class="container-fluid">
      <hr class="mt-5" />

      <div class="row">
        <div class="col-12 justify-content-center text-center">
          <div style="font-family: 'Roboto', sans-serif; font-weight: bold">Thank you to our sponsors</div>
          <img
            src="../assets/Brain Freeze sponsors_2022.png"
            class="sponsors"
            alt=""
            width="800px"
            
          />
        </div>
      </div>
    </div>
    <!--Past Brain Freeze Posters-->
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <h2 class="h3-partners">PAST BRAIN FREEZE</h2>
        </div>
      </div>
      <div class="row justify-content-center justify-content-center text-center">
          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a href="/brainfreeze/2022">
                <img
                  class="poster banana"
                  src="assets/brainfreeze2022.png" 
                  target="_blank"
                  style="width: 150px; height: 227px"
                />
              </a>
              <figcaption>2022</figcaption>
            </figure>
          </div>

          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a href="/brainfreeze/2021">
                <img
                  class="poster banana"
                  src="assets/brainfreeze2021.png"
                  target="_blank"
                />
              </a>
              <figcaption>2021</figcaption>
            </figure>
          </div>

          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a
                href="https://twitter.com/thecheelab/status/1234190963440005121"
                target="_blank"
              >
                <img class="poster banana" src="assets/brainfreeze2020.png" />
              </a>
              <figcaption>2020</figcaption>
            </figure>
          </div>

          <div class="col-md-1 col-lg-2 col-sm-6 justify-content-center text-center">
            <figure>
              <a
                href="https://science.carleton.ca/2019/chee-labs-brain-freeze-5k-and-relay-a-huge-success/"
                target="_blank"
              >
                <img class="poster banana" src="assets/brainfreeze2019.png" />
              </a>
              <figcaption>2019</figcaption>
            </figure>
          </div>
      </div>
    </div>